@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

body {
  font-family: "Dancing Script", cursive;
}

.text-warning {
  color: orangered !important;
}

.text-justify {
  text-align: justify;
}
